@use '../../assets/scss/functions' as f;

.track {
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 800px) {
        height: auto;
        width: 100%;
    }

    figcaption {
        position: absolute;
    }

    img {
        position: absolute;
        object-fit: cover;

        @media screen and (max-width: 800px) {
            position: static;
            height: auto !important;
            width: 100% !important;
            transform: rotate(0) !important;
        }

        @for $i from 0 through 29 {
            &[data-img='#{$i}'] {
                transform: rotate(#{f.random-num(-7, 7) + 'deg'}) translate(-50%, -50%);
                aspect-ratio: 3 / 2;
                width: 110%;
                top: 45%;
                left: 50%;
            }
        }
    }
}
