.footer {
    margin-top: -10vh;

    @media screen and (max-width: 800px) {
        margin-top: 0;
    }
}

.countdown-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.countdown {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.egg {
    display: grid;
    font-size: 1.15rem;
    place-items: end center;
    height: 300px;
    padding-bottom: 1rem;
}

.links {
    text-align: center;

    h2 {
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

    li {
        list-style: none;
    }
}

.gif {
    margin-top: 2rem;
    max-width: 400px;
    margin-inline: auto;
}

hr {
    margin: 3rem 0;
    max-width: 25%;
    border: 0;
    border-top: 1px solid #dfdfdf;
    margin-inline: auto
}
